.active1{
    width: 60px;
height: 37px;
border-radius: 9px;
background-color: #232324;
}
.item{

    height: 55rem;
    
    

}
.wrapper{
    
    background-color: #eb4f4e;
}



